* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    max-width: 1400px;
    background-color: rgb(248, 242, 242);
}

h1 {
    color: white;
    background-color: black;
    padding-left: auto
    ;
    text-align: center;
}

section {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;

}

div {
    width: 100px;
    height: 100px;
    background-color: green;
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}



.wuerfel0--farbe--gruen {
    background-color: greenyellow;
}

.wuerfel1--farbe--blau {
    background-color: blue;
}

.wuerfel2--farbe--gelb {
    background-color: yellow;
}

.wuerfel3--farbe--rot {
    background-color: red;
}

.wuerfel4--farbe--lila {
    background-color: blueviolet;
    transition: translateY;
}

/* *************** Animation *********** */

.box:active .wuerfel0--farbe--gruen {
    animation-name: linie;

    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

/* ************ style Animation ******** */

@keyframes linie {
    0%,100% {
        transform: translateY(0px);
    }
    15%,85% {
        transform: translateY(-50px);
    }

    25%,75% {
        transform: translateY(-100px);
    }

    35%,65% {
        transform: translateY(-200px);
    }

    50% {
        transform: translateY(-300px);
    }
    
}


/* *********** erstlichen Würfel Zeitversezt ****** */

.box:active .wuerfel1--farbe--blau {
    animation-name: linie;
    animation-delay: 0.1s;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.box:active .wuerfel2--farbe--gelb {
    animation-name: linie;
    animation-delay: 0.2s;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.box:active .wuerfel3--farbe--rot {
    animation-name: linie;
    animation-delay: 0.3s;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.box:active .wuerfel4--farbe--lila {
    animation-name: linie;
    animation-delay: 0.4s;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}